.card {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    width: 524px;
    height: 128px;
    box-shadow: 0 4px 6px -1px rgba(25, 25, 25, 0.04);
    background: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    &:hover {
        background: #eaeaea;
    }
}

.card-info {


    h3 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: -0.01em;
        color: #191919;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: -0.01em;
        color: #666;
    }
}