.footer {
    background-color: #ffff;
    margin-top: 40px;
    padding: 40px 0;


    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .footer__column {
            flex: 1;
            min-width: 220px;
            margin-bottom: 20px;

            h3 {
                font-size: 20px;
                font-weight: 700;
                color: #0d0d0d;
                line-height: 32px;
                margin-bottom: 16px;
            }


            ul {
                list-style: none;
                padding: 0;


                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: #64748b;
                    line-height: 24px;
                    text-decoration: none;
                    margin-bottom: 5px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer__bottom {
        text-align: center;
        padding-top: 20px;
        font-size: 12px;
        color: #777;
    }

    .social-icons {
        display: flex;
        gap: 10px;

        font-size: 24px;

        .footer-icon {
            &:hover {
                cursor: pointer;
                color: #2563eb;
            }
        }



    }
}

.with-icons {
    div {
        display: flex;
        align-items: center;
        gap: 5px;

    }
}

.with-icons {
    .map {
        height: 60px;
        display: flex;
        align-items: center;

        &:hover {
            color: #2563eb;
        }

    }
}

.debit-cards {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;

    div {
        display: flex;
        align-items: center;
        gap: 10px;

        li {
            background-color: #f2f2f7;
            border-radius: 8px;
            height: 54px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {

                cursor: pointer;
                background-color: #2563eb;
                transition: all 0.3s ease-in-out;
                color: #fff;
            }
        }
    }
}